@font-face {
    font-family: 'Tofino Pro Personal Thin Ita';
    src: url('TofinoProPersonal-ThinItalic.eot');
    src: url('TofinoProPersonal-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-ThinItalic.woff2') format('woff2'),
        url('TofinoProPersonal-ThinItalic.woff') format('woff'),
        url('TofinoProPersonal-ThinItalic.ttf') format('truetype'),
        url('TofinoProPersonal-ThinItalic.svg#TofinoProPersonal-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal';
    src: url('TofinoProPersonal-Thin.eot');
    src: url('TofinoProPersonal-Thin.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Thin.woff2') format('woff2'),
        url('TofinoProPersonal-Thin.woff') format('woff'),
        url('TofinoProPersonal-Thin.ttf') format('truetype'),
        url('TofinoProPersonal-Thin.svg#TofinoProPersonal-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text';
    src: url('TofinoProPersonalText-RegularItalic.eot');
    src: url('TofinoProPersonalText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-RegularItalic.woff2') format('woff2'),
        url('TofinoProPersonalText-RegularItalic.woff') format('woff'),
        url('TofinoProPersonalText-RegularItalic.ttf') format('truetype'),
        url('TofinoProPersonalText-RegularItalic.svg#TofinoProPersonalText-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Text Bk';
    src: url('TofinoProPersonalText-Book.eot');
    src: url('TofinoProPersonalText-Book.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-Book.woff2') format('woff2'),
        url('TofinoProPersonalText-Book.woff') format('woff'),
        url('TofinoProPersonalText-Book.ttf') format('truetype'),
        url('TofinoProPersonalText-Book.svg#TofinoProPersonalText-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Light Ita';
    src: url('TofinoProPersonal-LightItalic.eot');
    src: url('TofinoProPersonal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-LightItalic.woff2') format('woff2'),
        url('TofinoProPersonal-LightItalic.woff') format('woff'),
        url('TofinoProPersonal-LightItalic.ttf') format('truetype'),
        url('TofinoProPersonal-LightItalic.svg#TofinoProPersonal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoProPersonal-Regular.eot');
    src: url('TofinoProPersonal-Regular.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Regular.woff2') format('woff2'),
        url('TofinoProPersonal-Regular.woff') format('woff'),
        url('TofinoProPersonal-Regular.ttf') format('truetype'),
        url('TofinoProPersonal-Regular.svg#TofinoProPersonal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoProPersonal-RegularItalic.eot');
    src: url('TofinoProPersonal-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-RegularItalic.woff2') format('woff2'),
        url('TofinoProPersonal-RegularItalic.woff') format('woff'),
        url('TofinoProPersonal-RegularItalic.ttf') format('truetype'),
        url('TofinoProPersonal-RegularItalic.svg#TofinoProPersonal-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Ultra Ita';
    src: url('TofinoProPersonal-UltraItalic.eot');
    src: url('TofinoProPersonal-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-UltraItalic.woff2') format('woff2'),
        url('TofinoProPersonal-UltraItalic.woff') format('woff'),
        url('TofinoProPersonal-UltraItalic.ttf') format('truetype'),
        url('TofinoProPersonal-UltraItalic.svg#TofinoProPersonal-UltraItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Med Ita';
    src: url('TofinoProPersonal-MediumItalic.eot');
    src: url('TofinoProPersonal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-MediumItalic.woff2') format('woff2'),
        url('TofinoProPersonal-MediumItalic.woff') format('woff'),
        url('TofinoProPersonal-MediumItalic.ttf') format('truetype'),
        url('TofinoProPersonal-MediumItalic.svg#TofinoProPersonal-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal';
    src: url('TofinoProPersonal-Medium.eot');
    src: url('TofinoProPersonal-Medium.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Medium.woff2') format('woff2'),
        url('TofinoProPersonal-Medium.woff') format('woff'),
        url('TofinoProPersonal-Medium.ttf') format('truetype'),
        url('TofinoProPersonal-Medium.svg#TofinoProPersonal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text Bk It';
    src: url('TofinoProPersonalText-BookItalic.eot');
    src: url('TofinoProPersonalText-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-BookItalic.woff2') format('woff2'),
        url('TofinoProPersonalText-BookItalic.woff') format('woff'),
        url('TofinoProPersonalText-BookItalic.ttf') format('truetype'),
        url('TofinoProPersonalText-BookItalic.svg#TofinoProPersonalText-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Book';
    src: url('TofinoProPersonal-Book.eot');
    src: url('TofinoProPersonal-Book.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Book.woff2') format('woff2'),
        url('TofinoProPersonal-Book.woff') format('woff'),
        url('TofinoProPersonal-Book.ttf') format('truetype'),
        url('TofinoProPersonal-Book.svg#TofinoProPersonal-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text Md It';
    src: url('TofinoProPersonalText-MediumItalic.eot');
    src: url('TofinoProPersonalText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-MediumItalic.woff2') format('woff2'),
        url('TofinoProPersonalText-MediumItalic.woff') format('woff'),
        url('TofinoProPersonalText-MediumItalic.ttf') format('truetype'),
        url('TofinoProPersonalText-MediumItalic.svg#TofinoProPersonalText-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Ultra';
    src: url('TofinoProPersonal-Ultra.eot');
    src: url('TofinoProPersonal-Ultra.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Ultra.woff2') format('woff2'),
        url('TofinoProPersonal-Ultra.woff') format('woff'),
        url('TofinoProPersonal-Ultra.ttf') format('truetype'),
        url('TofinoProPersonal-Ultra.svg#TofinoProPersonal-Ultra') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Sembd Ita';
    src: url('TofinoProPersonal-SemiboldItalic.eot');
    src: url('TofinoProPersonal-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-SemiboldItalic.woff2') format('woff2'),
        url('TofinoProPersonal-SemiboldItalic.woff') format('woff'),
        url('TofinoProPersonal-SemiboldItalic.ttf') format('truetype'),
        url('TofinoProPersonal-SemiboldItalic.svg#TofinoProPersonal-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoProPersonal-BoldItalic.eot');
    src: url('TofinoProPersonal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-BoldItalic.woff2') format('woff2'),
        url('TofinoProPersonal-BoldItalic.woff') format('woff'),
        url('TofinoProPersonal-BoldItalic.ttf') format('truetype'),
        url('TofinoProPersonal-BoldItalic.svg#TofinoProPersonal-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Text Md';
    src: url('TofinoProPersonalText-Medium.eot');
    src: url('TofinoProPersonalText-Medium.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-Medium.woff2') format('woff2'),
        url('TofinoProPersonalText-Medium.woff') format('woff'),
        url('TofinoProPersonalText-Medium.ttf') format('truetype'),
        url('TofinoProPersonalText-Medium.svg#TofinoProPersonalText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text';
    src: url('TofinoProPersonalText-Regular.eot');
    src: url('TofinoProPersonalText-Regular.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-Regular.woff2') format('woff2'),
        url('TofinoProPersonalText-Regular.woff') format('woff'),
        url('TofinoProPersonalText-Regular.ttf') format('truetype'),
        url('TofinoProPersonalText-Regular.svg#TofinoProPersonalText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text';
    src: url('TofinoProPersonalText-Bold.eot');
    src: url('TofinoProPersonalText-Bold.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-Bold.woff2') format('woff2'),
        url('TofinoProPersonalText-Bold.woff') format('woff'),
        url('TofinoProPersonalText-Bold.ttf') format('truetype'),
        url('TofinoProPersonalText-Bold.svg#TofinoProPersonalText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Text';
    src: url('TofinoProPersonalText-BoldItalic.eot');
    src: url('TofinoProPersonalText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonalText-BoldItalic.woff2') format('woff2'),
        url('TofinoProPersonalText-BoldItalic.woff') format('woff'),
        url('TofinoProPersonalText-BoldItalic.ttf') format('truetype'),
        url('TofinoProPersonalText-BoldItalic.svg#TofinoProPersonalText-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal';
    src: url('TofinoProPersonal-Semibold.eot');
    src: url('TofinoProPersonal-Semibold.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Semibold.woff2') format('woff2'),
        url('TofinoProPersonal-Semibold.woff') format('woff'),
        url('TofinoProPersonal-Semibold.ttf') format('truetype'),
        url('TofinoProPersonal-Semibold.svg#TofinoProPersonal-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoProPersonal-Bold.eot');
    src: url('TofinoProPersonal-Bold.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Bold.woff2') format('woff2'),
        url('TofinoProPersonal-Bold.woff') format('woff'),
        url('TofinoProPersonal-Bold.ttf') format('truetype'),
        url('TofinoProPersonal-Bold.svg#TofinoProPersonal-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal Book Ita';
    src: url('TofinoProPersonal-BookItalic.eot');
    src: url('TofinoProPersonal-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-BookItalic.woff2') format('woff2'),
        url('TofinoProPersonal-BookItalic.woff') format('woff'),
        url('TofinoProPersonal-BookItalic.ttf') format('truetype'),
        url('TofinoProPersonal-BookItalic.svg#TofinoProPersonal-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal Black Ita';
    src: url('TofinoProPersonal-BlackItalic.eot');
    src: url('TofinoProPersonal-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-BlackItalic.woff2') format('woff2'),
        url('TofinoProPersonal-BlackItalic.woff') format('woff'),
        url('TofinoProPersonal-BlackItalic.ttf') format('truetype'),
        url('TofinoProPersonal-BlackItalic.svg#TofinoProPersonal-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino Pro Personal';
    src: url('TofinoProPersonal-Light.eot');
    src: url('TofinoProPersonal-Light.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Light.woff2') format('woff2'),
        url('TofinoProPersonal-Light.woff') format('woff'),
        url('TofinoProPersonal-Light.ttf') format('truetype'),
        url('TofinoProPersonal-Light.svg#TofinoProPersonal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino Pro Personal';
    src: url('TofinoProPersonal-Black.eot');
    src: url('TofinoProPersonal-Black.eot?#iefix') format('embedded-opentype'),
        url('TofinoProPersonal-Black.woff2') format('woff2'),
        url('TofinoProPersonal-Black.woff') format('woff'),
        url('TofinoProPersonal-Black.ttf') format('truetype'),
        url('TofinoProPersonal-Black.svg#TofinoProPersonal-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

