.error404 {
    .not-found{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .page-content{
        max-width: 1200px;
        // border: 2px solid $color__green;
        
    }

}

.widgets-404{
    display: flex;
    flex-direction: column;
    .widget{
        border: 1px solid $color__green;
    }
}