.aboutNavigation{
    background-color: $color__green;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    @include desktop{
        padding: 10px 50px;
    }
    position: fixed;
    width: 100%;
    
    // max-width: 1200px;
    margin: 0 auto;

    z-index: 3;
 
    a{
        color: white;
    }
}

.aboutNavigationWrapper{
    background-color: $color__green;
    width: 100%;
    height: 45px;
}

.videoAboutWav p{
    width: 80%;
        margin: 0 50px;
        line-height: 2.0
}

.page-template-about{
    .site-content {
        padding-top: 3.5rem;
        @include desktop {
            padding-top: 5rem;
        }
    }

    h1, h2{
        text-align: center;
        @include tablet{
            font-size: $font-size__desktop__h1;
        }
    }

    p{
        // @include tablet{
            line-height: 2.0;
            margin: 20px 50px;
        // }
        // @include tablet{
        //     font-size: $font-size__desktop__base-size;
        // }
    }

    .header-img-container{
        height: 200px;
        width: auto;
        overflow: hidden;
        @include tablet{
            height: 400px;
        }
        img{
            object-fit: cover;
        }
    }

    .aboutWav, .ourFestival, .theTeam, .press{
        padding: 10px;
        a{
            text-align: center;
            text-decoration: none;
            color: $color__blue;
            display: block;
        }
        .center-button{
            display: flex;
            justify-content: center;
        
        }
        .green-button{
            background-color: $color__green;
            color: white;
            padding: 10px 30px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border-radius: 50px;
            margin: 20px auto;
        }
    }

    .aboutWav {
        padding-top: 1.5rem;
    }

   
    
}

.page-template-about{
.teamMembers{
    &.about-carousel:after {
        content: 'flickity';
        display: none;
      }
    @include desktop{
        // display: block;
        /* disable Flickity for large devices */
        &.about-carousel:after {
                content: '';
                 }
         &.about-carousel{
             display:grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
                 }
    }
    .about-carousel-cell {
        margin: 0 1rem;
        width: 100%;
       @include tablet{
           width: 45%;
       }
        @include desktop{
            margin: 0 1rem;
            width: auto;
        }
      }
}
.collaborators{
    &.about-carousel:after {
        content: 'flickity';
        display: none;
      }
    @include desktop{
        // display: block;
        /* disable Flickity for large devices */
        &.about-carousel:after {
                content: '';
                 }
         &.about-carousel{
             display:grid;
             grid-template-columns: 1fr 1fr 1fr;
                 }
    }
    .about-carousel-cell {
        margin: 0 1rem;
        width: 100%;
        @include tablet{
            width: 45%;
        }
        @include desktop{
            margin: 0 1rem;
            width: auto;
        }
      }
}



.teamMember, .collaborator, .festival, .schoolItem, .pressItem{
    // width: 45%;
    height: 300px;
    // height: 45vw;
    // padding: 10px;
    // border: 3px solid skyblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
    // border: 3px solid blue;
    // @include tablet{
    //     height: 45vw;
    // }
    // @include desktop{
    //     width: 25%;
    //     height: 25vw;
      
    // }

    img{
        // height: auto;
        max-width: none;
        width: 450px;
        @include tablet{
            height: auto;
            width: 450px;
            max-width: none;
        }
        // @include large-desktop{
        //     width: 600px;
        //     // display: none;
        // }
        
    }
    

    & .entry-title a {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        color: white;
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        opacity: 0.9;
       
    }


    .entry-header{
        height: 100%;
        width: 100%;
        img{
            object-fit: cover;
            position: absolute;
            height: 100%;
        //    height: 300px;
        //    width: 300px;
           @include tablet{
               height: auto;
               width: 450px;
           }
        //    @include desktop{
        //     width: 550px;
        //     // display: none;
        // }
          
        }
    }
}

.schoolItem{
    width: 100%;
    height: 45vw;
    max-height: 300px;
}

.teamMember a, .collaborator a{
    background-color: $color__green;
    // display: none;
}
.festivals{
    &.about-carousel:after {
        content: 'flickity';
        display: none;
      }
    @include desktop{
        // display: block;
        /* disable Flickity for large devices */
        &.about-carousel:after {
                content: '';
                 }
         &.about-carousel{
             display:grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
                 }
    }

}
.festival a, .schoolItem a{
    background-color: $color__yellow;
    opacity: 0.9;
}
}

.page-template-about{
    .press{
        &.about-carousel:after {
            content: 'flickity';
            display: none;
          }
        @include desktop{
            // display: block;
            /* disable Flickity for large devices */
            &.about-carousel:after {
                    content: '';
                     }
             &.about-carousel{
                 display:grid;
                 grid-template-columns: 1fr 1fr 1fr 1fr;
                     }
        }
        .about-carousel-cell {
            margin: 0 1rem;
            width: 100%;
            @include tablet{
                width: 45%;
            }
            @include desktop{
                margin: 0 1rem;
                width: auto;
            }
          }
    
    }
}


.schoolOutreach-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    .schoolItem{
        width: 100%;
    }
    @include tablet{
        margin: 0 auto;
        max-width: 800px;
    }
}
.hidden-mobile{
    display: none;
    @include desktop{
        display: block;
    }
}

.videoAboutWav{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row; 
    }

    
}
.flickity-page-dots{
    visibility: hidden;
}

.page-template-about{
    .pressItem .entry-title a{
        background-color: $color__blue;
    }

    .pressItem{
        display: block;
        height: 400px;
        .entry-header{
            height: 300px;
            overflow: hidden;
            position: relative;
        }
        .entry-header img{
            position: static;
        }
        p{
            z-index: 1;
            text-align: center;
            margin: 0;
            padding: 0;
            font-size: $font-size__h1;
            @include tablet{
                font-size: $font-size__desktop__base-size;
                line-height: 1.5;
            }
    
            
        }
    }
}


section.aboutWav, section.ourFestival, section.theTeam, section.collaborators, section.festivals, section.school-outreach, section.press{
    max-width: 1200px;
    margin: 0 auto;
}

    .about-carousel-cell {
        margin: 0 1rem;
        width: 100%;
        @include tablet{
            width: 45%;
            height: 300px;
        }
        @include desktop{
            margin: 0 1rem;
            width: auto;
        }
      }