.blog {

    .entry-title {
        padding-top: 2rem;
        text-align: center;
        margin-bottom: 0;
        // font-size: $font-size__h2;
        font-size: 1rem;
        font-family: $font-family__h2;

        @include desktop {
            // font-size: $font-size__desktop__h2;
            // font-family: $font-family__desktop__h2;
            font-family: $font-family__desktop__h1;
            font-size: 1.5rem;
            text-align: start;
            padding: 0;
            margin: 0
        }
    }

    .entry-title {
        text-align: center;
        // font-size: $font-size__h2;
        font-size: 1rem;
        font-family: $font-family__h2;
        a {
            color: black;
        }
        @include desktop {
            // font-size: $font-size__desktop__h2;
            // font-family: $font-family__desktop__h2;
            font-family: $font-family__desktop__h1;
            font-size: 2.5rem;
            text-align: start;
            margin-bottom: 1rem;
        }
    }

    .entry-meta {
        text-align: center;
        @include desktop {
            text-align: start;
            font-size: 1.5rem;
        }
    }

    fieldset {
        border: none;
        position: relative;
        input[type=search]{
            width: 100%;
            border-radius: 7px;
            border: 1px solid $color__green;
        }
        .search-submit {
            background: none;
            border: none;
            box-shadow: none;
            position: absolute;
            top: 7px;
            height: 1rem;
        }
    }

    .blogs-wrapper {
        text-align: center;
        @include desktop {
            text-align: start;
        }

    }

    .blogs-item {
        border: 1px solid $color__green;
        margin: 2rem;
        padding: 0.8rem;
        @include desktop {
            padding: 3rem;
        }
    }

    .blog .site-main {
        position: absolute;
    }

    .site-content {
        // padding: 2%;
        @include desktop {
            padding-top: 0;
        }
    }

    .tags-links a {
        color: black;
        border: 1px solid $color__blue;
        border-radius: 20px;
        padding: 2px 20px;
    }

    .see-details {
        text-align: end;
        margin-bottom: 0;
        a {
        color: $color__green;
        }
    }

    .navigation-up-arrow {
        text-align: center;
    }

    .navigation-arrow {
        color: $color__green;
    }

    .nav-links a {
        color: $color__green;
    }

    .image-wrapper {
        height: 200px;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include desktop {
            height: 300px;
            width: 50%;
        }
    }

    .image-wrapper img {
        width: 100%;
        height: auto;
        min-height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .tags-links {
        a::before {
            content: "#"
        }
    }

    .page-numbers{        
        color: white;
        border-radius: 10px;
        background-color: $color__blue;
        padding: 10px 20px;
        margin-right: 8px;
;
    }

     .prev,  .next  {
        background: none;
        color: black;
        font-size: 4rem;
        position: relative;
        top: 0.8rem;        
    }

    .site-footer {
        margin-top: 0;
    }

    .activity-banner {
        display: none;
        @include desktop {
        height: 80vh;
        overflow: hidden;
        width: 100%;
        position: relative;
        margin-bottom: 3rem;        
        display: block;
        img {
            width: 100%;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        }        
    }

    .page-title {
        padding-top: 2rem;
        font-size: $font-size__h1;
        font-family: $font-family__h1;
        @include desktop {
            font-size: $font-size__desktop__h1;
            font-family: $font-family__desktop__h1;
        position: absolute;
        bottom: 10rem;
        left: 5rem;
        color: white;
        }
    }

    .image-header-container {
        @include desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        }
    }

    .title-post-on {
        width: 40%;
    }

    .entry-content {
        font-size: $font-size__body;
        font-family: $font-family__body;
        @include desktop {
            margin: 5rem 0;
            font-size: $font-size__desktop__body;
            font-family: $font-family__desktop__body;

        }
    }

}