//This is the style for single-evnet page with carousel. The php template for this style is: tribe-events/single-event.php

.tribe_events-template-default.single-tribe_events{
    .tribe-events-before-html{
        display: none;
    }
    .events-container{
        margin-top: 6rem;
        text-align: center;
        .tribe-events-single-event-title{
            font-family: 'Oswald';
        }
        .tribe-events-single-section.tribe-events-event-meta{
            text-align: left;
            // padding: 0 4%;
        }
        .tribe-events-single-event-description.tribe-events-content{
            text-align: left;
            // padding: 0 4%;
            a{
                text-align: right;
            }

        }
        .single-event-details-title{
            display: none;
            @include desktop{
                display:inline; 
            }
        }
    }
}
.tribe-events-meta-group.tribe-events-meta-group-details, .tribe-events-meta-group.tribe-events-meta-group-gmap{
    padding: 0;
    margin: 0;
}
.tribe-events-ical.tribe-events-button{
    visibility:hidden;
}