/*--------------------------------------------------------------
# stylesheet for events calendar view and single calendar view.
Please check the Skeleton style from Events/Setting/Display in dashboard and then this stylesheet will work.
--------------------------------------------------------------*/
.tribe-events-before-html{
    p{
        margin-top: 0;
        padding-top:0;
    }
}
#tribe-events-pg-template.tribe-events-pg-template {
    margin: 0 auto;
    max-width: 100%;
    a{
        color:black;
        &:hover:visited{
            color:black;
        }
    }
    .tribe-events-button{
        display: none;
    }
    .tribe-events-loop{
        .same-date-events-container{
            @include tablet{
                display:flex;
            }
        }
        .tribe-events-list-event-description a{
                margin-top: auto;
                color:$color__green;
                &:hover:visited{
                    color:$color__green;;
                }
        }
        .type-tribe_events{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border:1px solid $color__green;
            padding: 1rem;
            margin-top: auto;
            @include tablet{
                width: 33%;
            }

        }
    }
    .tribe-events-sub-nav{
        display: none;
    }
}
.tribe-events-list-event-title{
    font-family: 'Oswald';
}
.tribe-clearfix{
    max-width: 1200px;
    margin: 0 auto;
    .tribe-events-page-title{
    transform: translateY(-300px);
    margin-left: 1rem;
    @include desktop{
        transform: translateY(-250px);
    }
    color: white;
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: bolder;
    text-align:  left;
    }
    #tribe-events-bar{
        // display: flex;
        // justify-content: space-between;
        // width: 100%;
        #tribe-bar-views{
            order:1;
            ul{
                padding-left: 0;
                margin-left:0;
            }
        }
        .tribe-bar-filters{
            order:-1;
            .label-tribe-bar-date, .label-tribe-bar-search{
                display:none;
            }
        }
        .tribe-bar-search-filter, .tribe-bar-date-filter{
            border:1px solid $color__green;
            input[type=email], input[type=password], input[type=search], input[type=text], input[type=url]{
                // border:1px solid $color__green;
                // border-radius: 25%;
                border:0.1px solid white;
                margin: 0.5rem 0;
                padding: 5px;
                // @include tablet{
                //     width:300px;
                // }
            }

        }
    }
    .tribe-bar-views-option.tribe-bar-views-option-day{
        display: none;
    }

}
.button{
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    margin: 1rem;
    a{
        color: white;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    &.green-button{
        background-color: $color__green;
    }
    &.contact-button1{
        background-color: $color__yellow;
        }
    &.blue-button{
        background-color: $color__blue;
    }
}
#tribe-bar-form{
    background-color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 1rem;
}
// .tribe-bar-date-filter{
//     display:none;
// }
#tribe-bar-collapse-toggle{
    display:none;
    // background-color: white;
    // .tribe-bar-toggle-arrow{
    //     color:$color__green;
    // }
}
// #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{
//     background:none;
//     border:none;
// }
// .tribe-bar-views-inner{
//     background-color: white;
// }
