.tribe-section-cost{
    display: none;
}

.tribe_community_edit .tribe-community-events input.events-community-submit{
    color: black;
    border: 2px solid $color__yellow;
    text-transform: none;
    font-size: $font-size__button;
    border-radius: 50px;
    box-shadow: none;
    background: white;
    padding: 10px 30px;
    font-family: $font-family__button;
    &:hover, &:active, &:focus{
        background: $color__yellow;
        color: white;
    }
}

.tribe-section-organizer a.tribe-button,.tribe-section-content div.form-controls div, .tribe-section-content div.form-controls input{
    background: white;
    border: 2px solid $color__green;
    color: black;
    border-radius: 50px;
    text-transform: none;
    font-family: $font-family__button;
    &:hover{
        color: white;
        background: $color__green;
    }
}

#tribe-events-pg-template.tribe-events-pg-template a.tribe-button, .event-submission-faq{
    background: white;
    text-transform: none;
    border: 2px solid $color__green;
    font-size: $font-size__button;
    border-radius: 50px;
    padding: 10px 30px;
    display: inline-block;
    font-family: $font-family__button;
    &:hover{
        background: $color__green;
        color: white;
    }

}

.tribe-community-events .tribe-section.tribe-section-image-uploader .tribe-image-upload-area div.choose-file{
    text-transform: none;
    font-size: $font-size__button;
    padding: 10px 30px;
    border: 2px solid $color__green;
    font-family: $font-family__button;
    &:hover{
        background: $color__green;
        color: white;
    }
}

.tribe-section-content div.form-controls input[name=event_image]{
    &:hover{
        background: $color__yellow;
        color: white;
    }
}

.tribe-section-content div.form-controls input:hover{
    &:hover{
        background: $color__yellow;
        color: white;
    }
}

.tribe-community-events div.tribe-section, .events-community-post-content #post_content, .events-community-post-title #post_title{
    border: 2px solid $color__green;
    font-family: $font-family__button;
}

#tribe-community-events{
    background: white;
    border: none;
}

header.my-events-header, .tribe-community-events .tribe-section div.tribe-section-header{
    border-bottom: none;
}

// .events-community-post-content div.tribe-section{
//     border: 2px solid $color__green;
// }

.tribe-section-content .tribe-dropdown-created, .tribe-section-content .venue input[type=text], .tribe-section-content .organizer input[type=text], .tribe-section-website input#EventURL{
    border: 2px solid $color__green;
}

a.event-submission-faq{
    font-size: $font-size__button;
    border: 2px solid $color__blue;
    margin: 0 0 30px 0;
    line-height: 20px;
    text-align: center;
    
    &:hover{
        color: white !important; 
        background: $color__blue;
    }
}

header.my-events-header{
    h2.my-events{
        font-size: $font-size__desktop__h1;
        margin: 30px 0px;
        font-family: 'Oswald';
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}

.tribe-events-after-html{
    margin: 0 auto;
    padding: 10px;
    
    .faq-item{
        width: 100%;
        @include tablet{
            width: 100%;
        }
    }
    @include tablet{
        padding: 60px;
    }
}

h1.submission-header{
    font-size: $font-size__h1;
    @include desktop{
        font-size: $font-size__desktop__h1;
    }
    
}

.tribe-community-notice{
    background-color: yellow;
    .submission-thank-you{
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    a.button{
        font-size:$font-size__button;
        display: block;
        text-transform: none;
        color: white;
        font-family: $font-family__button;
        width: 100%;
        &:hover{
            color: black;
        }

    }
    a.yellow-button{
        background: $color__yellow;
            color: white;
            border: 2px solid $color__yellow;
        &:hover{
            
            background: white;
         
        }
    }
    a.blue-button{
 
        border: 2px solid $color__blue;
        background: $color__blue;
        color: white;
        &:hover{

            background: white;
        }
    }
}





#tribe-community-events .event-submission-form {
    .tribe-button-secondary {
        // background: red;
    display: block;        
        &:hover {
            background: $color__green;
        }
    }
}

.submission-thank-you{
    a.blue-button{
        background-color: $color__blue;
        border: 2px solid $color__blue;
        color: white;
        &:hover{
            background-color: white !important; 
            color: black !important;;
        }
    }
    a.yellow-button{
        background-color: $color__yellow;
        border: 2px solid $color__yellow;
        color: white !important; 
        &:hover{
            background-color: white;
            color: black !important;
        }
    }
}

.hidden-submit-button{
    display: none !important;
}