/*--------------------------------------------------------------
# stylesheet for events calendar view and single calendar view.
Please check the Skeleton style from Events/Setting/Display in dashboard and then this stylesheet will work.
--------------------------------------------------------------*/
.tribe-events-before-html{
    display: none;
    @include tablet{
        display: block;
        p{
            margin-top: 0;
            padding-top:0;
        }
    }
}
.tribe-events-after-html{
    display:none;
}

#tribe-events-pg-template.tribe-events-pg-template {
    margin: 0 auto;
    max-width: 100%;
    a{
        color:black;
        &:hover:visited{
            color:black;
        }
    }
    .tribe-clearfix{
        max-width: 1200px;
        margin: 0 auto;
        .tribe-events-page-title{
        text-align: center;
        @include tablet{
        text-align:  left;
        transform: translateY(-300px);
        margin-left: 1rem;
        }
        @include desktop{
            text-align:  left;
            transform: translateY(-250px);
            margin-left: 1rem;
        }
        color:black;
        @include tablet{
            color: white;
        }
        font-family: 'Oswald';
        font-size: 48px;
        font-weight: bolder;
        }
        &.tribe-bar-filters-inner{
            display: flex;
            flex-wrap: wrap;
        }
        #tribe-events-bar{
            @include tablet{
                margin-top: -5rem;
            }
            #tribe-bar-views{
                font-size: 1.2rem;
                margin-bottom: 1rem;
                margin-top: auto;
                order:-1;
                @include tablet{
                    order:1;
                    margin-top: auto;
                }
                margin: 0 1rem;
                .tribe-bar-views-inner{
                    display: flex;
                }
                label{
                    margin:0.5rem;
                }
                ul{
                    padding-left: 0;
                    margin-left:0;
                    display: flex;
                    li{
                        margin:0.5rem;
                    }
                }
            }
            .tribe-bar-filters{
                order:-1;
                margin: 0 1rem;
                .label-tribe-bar-date, .label-tribe-bar-search{
                    display:none;
                }
            }
            .tribe-bar-search-filter, .tribe-bar-date-filter{
                border:1px solid $color__green;
                border-radius: 10px;
                margin: 0.5rem 1rem;
                flex-grow: 1;
                input[type=email], input[type=password], input[type=search], input[type=text], input[type=url]{
                    // border:1px solid $color__green;
                    // border-radius: 25%;
                    border:0.1px solid white;
                    margin: 0.5rem 0;
                    padding: 5px;
                    // @include tablet{
                    //     width:300px;
                    // }
                }
    
            }
        }
        .tribe-bar-views-option.tribe-bar-views-option-day{
            display: none;
        }
    
    }
    
    /*style for icons copied from tribe-events-full.css*/
    .tribe-select2-results-views span[class^='tribe-icon-'],
    .tribe-bar-views-list span[class^='tribe-icon-'],
    .tribe-bar-view-list a[class*='tribe-icon-'] {
        background-position: 0 50%;
        background-repeat: no-repeat;
        display: block;
        min-height: 30px;
        padding-left: 24px;
    }
    
    .tribe-select2-results-views span[class^='tribe-icon-'] {
        display: inline-block;
        min-height: 30px;
    }
    
    /* Default icon */
    
    .tribe-select2-results-views span[class^='tribe-icon-'],
    .tribe-bar-views-list span[class^='tribe-icon-'] {
        background-image: url(../../assets/images/events-bar/icon_calendar_view.svg);
        background-size: 20px 30px;
    }
    .tribe-select2-results-views span.tribe-icon-list,
    .tribe-bar-views-list span.tribe-icon-list,
    .tribe-bar-view-list span[class^='tribe-icon-'] {
        background-image: url(../../assets/images/events-bar/icon_unselected_list_wiew.svg);
        background-size: 15px 10px;
    }
    .tribe-bar-view-list a.tribe-icon-list,
        .tribe-bar-view-list a.tribe-icon-month {
        background-position: 10px 50%;
        padding-left: 30px;
    }

    .tribe-select2-results-views .tribe-icon-month,
    .tribe-bar-views-list span.tribe-icon-month,
    .tribe-bar-view-list a.tribe-icon-month {
        background-image: url(../../assets/images/events-bar/icon_calendar_view.svg);
        background-size: 20px 30px;
    }
    .button{
        color: white;
        padding: 10px 30px;
        border-radius: 50px;
        margin: 1rem;
        a{
            color: white;
            text-transform: capitalize;
            font-size: 1.5rem;
        }
        &.green-button{
            background-color: $color__green;
        }
        &.contact-button1{
            background-color: $color__yellow;
            }
        &.blue-button{
            background-color: $color__blue;
        }
    }
    #tribe-bar-form{
        background-color:white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tribe-bar-date-filter{
        flex-grow: 1;
    }
    #tribe-bar-collapse-toggle{
        display:none;
    }
    a{
        color:black;
        &:hover:visited{
            color:black;
        }
    }
    .tribe-events-button.tribe-no-param{
        visibility: hidden;
    }
    //style for displaying events in a list view
    .tribe-events-loop{
        margin: 0 1rem;
        .same-date-events-container{
            &.carousel-front-page:after {
                content: 'flickity';
                display: none;
              }
            @include tablet{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
            /* disable Flickity for large devices */
            &.carousel-front-page:after {
                content: '';
                 }
             &.carousel-front-page{
             display:flex;
                 }
            }
            .event-item.carousel-front-page-cell{
                display: flex;
                margin: 0.5rem;
                border:1px solid $color__green;
                padding: 1rem;
                // margin-top: auto;    
                width:100%;
                @include tablet{
                    width: 30%;
                }
                .type-tribe_events{
                    display:flex;
                    flex-direction:column;
                    // justify-content: center;
                    // margin-top: auto;
                    .tribe-events-list-event-description{
                        margin-top: auto;
                        .tribe-event-tags{ 
                            display: flex;
                            flex-wrap: wrap;
                        a{
                            border: 1px solid $color__blue;
                            border-radius: 15px;
                            padding: 0.5rem;
                            margin: 0.2rem;
                            min-width: 5rem;
                            text-align: center;
                            &::before{
                                content: '#';
                            }
                        }
                    }
                        a{
                            color:black;
                            &:hover:visited{
                                color:black;
                            }

                            &.tribe-events-read-more{
                                text-align: right;
                                color:$color__green;
                                font-size: 24px;
                                &:hover:visited{
                                    color:$color__green;
                                }
                            }
                    }

                    }
                }
            }
        }
    }
    .tribe-events-sub-nav{
        display: none;
    }
}
.tribe-events-list-event-title{
    font-family: 'Oswald';
}

//style for the events list in one day
.tribe-events-list.tribe-events-day{
    display:flex;
    flex-direction: column;
    .tribe-events-day-time-slot{
            // width: 80%;
            margin: 0 auto;
            @include tablet{
                width: 50%;
            }
            @include desktop{
                width:30%;
            }
        .type-tribe_events {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 1px solid $color__green;
            padding: 1rem;
            margin-top: 1rem;
            .tribe-events-venue-details, .tribe-events-event-cost{
                display:none;
            }
            a{
                &.tribe-events-read-more{
                text-align: right;
                color:$color__green;
                &:hover:visited{
                    color:$color__green;
                    }
                 }
            }
        }

    }

}




// style for displayig events in a calendar view
.tribe-events-calendar{
    .tribe-events-month-event-title{
        font-size: 0.5rem;
        font-weight: lighter;
        @include tablet{
            font-size: 1rem;
        }
    }
    td div[id*=tribe-events-daynum-] {
        font-weight: 500;
    }
    td {
        font-weight: 500;
    }

    td.tribe-events-present div[id*=tribe-events-daynum-] {
        color: $color__green !important;
    }
    #tribe-events-monday, #tribe-events-tuesday, #tribe-events-wednesday, #tribe-events-thursday, #tribe-events-friday{
        font-weight: 500;
    }
    #tribe-events-sunday,#tribe-events-saturday, {
        color:$color__green;
        font-weight: 500;
    }

}
//general style for banner and search bar

.number-of-events-day{
    @include tablet{
        display:none;
    }
}
// #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a{
//     background:none;
//     border:none;
// }
// .tribe-bar-views-inner{
//     background-color: white;
// }s
.tribe-mobile-container{
    // display:none;
    .tribe-mobile-day{
        border: 1px solid $color__green;
        padding: 1rem;
    }
}


