/*--------------------------------------------------------------
# style for Front-Page by kate
--------------------------------------------------------------*/

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
        width: 100%;
    }
    .site-content{
        text-align: center;
        margin: 0 auto;
    }
    .front-page-banner{
        h1 {
            transform: translateY(-150px);
            color: white;
            text-align: left;
            padding-left: 1rem;
        }
        p{
        display: none;
        @include desktop{
            display: inline;
            // transform: translateY(-130px);
            // color: white;
            // text-align: left;
            // padding-left: 1rem;
            }
        }
    }
    section{
        .flickity-viewport {
            transition: height 0.2s;
          }
          p{
              text-align: left;
          }
        .activities-container{
            // @include tablet{
            //     // display: grid;
            //     // grid-template-columns: 1fr 1fr;
            //     // grid-gap: 1rem;
            // }
            .flickity-page-dots{
                visibility: hidden;
            }
            .carousel-cell {
                margin: 0 1rem;
                width: 100%;
                &.carousell-tablet{
                    width: 50%;
                }
              }
            .activities-posts-single{
                border: 1px solid $color__green;
            }
        }
        .events-container{
            article{
                padding: 0 1rem;
                border: 1px solid green;
            }
            .flickity-page-dots{
                visibility: hidden;
            }
            .carousel-cell {
                margin: 0 1rem;
                width: 100%;
                @include tablet{
                    margin: 0 1rem;
                    width: 50%;
                }
              }
            @include tablet{
                display: block;
                .button {
                    display: inline;
                }
            }
        }
         .about-container{
            // @include tablet{
            //     display: grid;
            //     grid-template-columns: 1fr 1fr 1fr;
            //     grid-gap:1rem;
            // }
            body{
                margin-top: 100px;
                font-family: 'Trebuchet MS', serif;
                line-height: 1.6
            }
            .container{
                width: 800px;
                margin: 0 auto;
            }
            ul{
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
             li{
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
                &.current{
                    background: #ededed;
                    color: #222;
                    }
                }
            }
            .tab-content{
                display: none;
                background: #ededed;
                padding: 15px;
            &.current{
                display: inherit;
            }
        }
        }
        .button{
            color: white;
            padding: 10px 30px;
            @include tablet{
            display: inline-block;
            }
            border-radius: 50px;
            margin: 0 auto;
            width: 50%;
            a{
                color: white;
            }
            &.green-button{
                background-color: $color__green;
            }
            &.yellow-button{
                background-color: $color__yellow;
                margin-bottom: 1rem;
            }
            &.blue-button{
                background-color: $color__blue;
            }
        }
    }
    .sm-feed{
        display: none;
        @include tablet{
            display: block;
            .sm-feed-container{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

}