.page-id-81 {

    .mobile-title {
        top: -4rem;
    }

    .menu {
        @include desktop {
            top: 2.5rem;
        }
    }

    .involve-banner {
        display: none;
        @include desktop {
            display: block;
        }
    }

    article {
        padding: 3%;
        padding-top: 4rem;
    }

    .paragraph-text {
        font-family: $font-family__body;
        font-size: $font-size__body;
        margin-bottom: 2rem;
        @include desktop {
            font-size: $font-size__desktop__body;
            font-family: $font-family__desktop__body;
        }
    }


    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=date],
    textarea {
        border: 2px solid $color__green;
        border-radius: 5px;
        width: 100%;
    }

    .get-inv-form {
        display: flex;
        flex-wrap: wrap;
    }

    .text-462, .text-900, .tel-754, .date-431, .city, .postal-code {
        width: 50%;
        padding: 0.5rem 0;
    }

    .text-462, .tel-754, .city {
        padding-right: 0.5rem;
    }

    .email-975, .text-942, .text-935, .message , .text-289 {
        width: 100%;
        padding: 0.5rem 0;
    }

    p, h2 {
        margin: 0;
    }

    .big-label, .text-289 {
        height: 5rem;
    }

    input[type=submit] {
        border: 3px solid $color__yellow;
        border-radius: 25px;
        background: white;
        color: black;
        box-shadow: none;
        font-size: 1.5rem;
        text-align: center;

    }

    .involve-botton {
        text-align: end;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .faq-item {
        width: 100%;
    }

    .entry-header { 
        display: flex;
        flex-direction: column;
        h3, p, a {
        text-align: center;
        }
        p {
            font-family: $font-family__body;
            font-size: $font-family__desktop__body;
        }
        .browse {
            text-align: center;
            margin: 2rem;
        }
        a {            
            background-color: $color__yellow;
            border-radius: 25px;
            border: none;
            color: white;
            box-shadow: none;
            font-size: 1.5rem;
            text-shadow: none;            
            text-align: center;
            padding: 0.5rem 3rem;
            width: 50%;
            margin-top: 2rem;
                       
        }


    }

    .wpcf7 {
        @include desktop {
            display: flex;
            .wpcf7-form {
                width: 50%;
                margin-right: 2rem;
            }
            .faq-container {
                width: 50%;
                h1 {
                    margin-top: 0;
                }
            }
        }
    }

}