.site-header {
        padding: 1rem;
		position: fixed;
		transition: top .5s linear;
		width: 100%;
        z-index: 4;
        height: 3.55rem;

        @include desktop {
            height: 5rem;
            a {
                padding-left: .5rem;
                padding-right: .5rem;
                display: flex;
                color: black;
                font-family: 'Tofino';
                font-size: 1.25rem;
            }
        }
}

.dark-header {
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}


.header-container {
    position: relative;
}

.main-navigation ul {
    position: absolute;
    right: 0;
    top: 1rem;
    
}

.main-navigation ul ul {
    position: initial;
    display: none;
    box-shadow: none;
}

.logo {

    width: 5rem;

    img {
        height: 4rem;
        width: 4rem;
        padding: .5rem;
        position: relative;
        bottom: 1.25rem;

    }

}

.logo-wav1 {
    display: none;
}

.back-button {
    max-width: 5rem;
    display: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1.75rem;
    position: absolute;
    top: 4px;
    left: 0;
        i {
            color: $color__green;
            text-shadow: none;
        }
}

.mobile-title {
    text-align: center;
    position: relative;
    top: -5.5rem;
}

.single-activity, .single-tribe_events, .single-festival, .single-post {
    .mobile-title{
        top: -1.5rem;
    }
}

.single-festival {
    .site-content {
        padding-top: 2.5rem;
        @include desktop {
            padding-top: 5rem;
        }
    }
}

.tribe-events-single .carousel-container {
    padding-top: 0;
}
.events-single {

    .site-content {
        position: absolute;
    }
}

@include desktop {

    .main-navigation ul {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .mobile-title {
        display: none;
    }

    .logo img {
        bottom: .5rem;
    }

    .sub-menu {
        width: 200px;
        box-shadow: none;

        a {
            width: 100%;
            box-shadow: none;
        }
    }

    .menu-item-has-children:hover > ul{
        display:block;
    }

    .home, .blog, .post-type-archive.post-type-archive-tribe_events, .page-id-81, .post-type-archive-activity, .page-template-contact{

        .site-header {
            background-color: transparent;
            a {
                color: white;
            }

            .menu a:hover {
                border-bottom: 2px solid white;
            }
        }

        }
        .logo-wav1 {
            display: inline;
            background: transparent;
        }

        .logo-wav2 {
            display: none;
        }


    .page-template-about, .single-activity{

        .logo-wav2 {
            display: inline;
        }

        .logo-wav1 {
            display: none;
        }
    }

    .site-header.dark-header {
            .menu a {
                color: black;
        }

        .menu a:hover {   
            border-bottom: 2px solid black;
        }

        .sub-menu {
            background-color: rgba(255, 255, 255, 0.85);
        }

        .logo-wav1 {
            display: none;
        }

        .logo-wav2 {
            display: inline;
        }
    }


}