
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		position: relative;

		// &:hover > a,
		// &.focus > a {
		// }

			@include desktop {
				float: left;
			}
	}
	a {
		display: block;
		text-decoration: none;

			@include desktop {
				&:hover {
					border-bottom: 2px solid black;
				}
			}
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a {
	// }
}

/* Small menu. */

.social-nav {
	display: none;
}

.main-navigation.toggled {
	position: absolute;
    right: 0;
	top: 3.55rem;
	width: 50%;
	height: 100vh;
	font-family: 'Tofino';
	background: $color__blue__menu__background;
	z-index: 10;
	
		a {
			color: #fff;
			border-bottom: 1px solid #fff;
			padding: 1rem;
		}

		.social-nav {
			display: block;
			padding: 1rem;
			color: #fff;
			position: relative;
			margin: 0;

			ul {
				text-align: center;
			}

			.widget-area {
				padding-top: .75rem;
			}
		}

		.social-nav-menu {
			margin: 0;
		}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	position: inherit;
}


@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		//this is for css of primary menu
		display: block;
		opacity:1;
		height: auto;
		overflow: auto;
		position:static;


	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		// float: left;
		width: 50%;
	}

	.nav-next {
		// float: right;
		text-align: right;
		width: 50%;
	}
}