.single-activity, .single-festival, .tribe-events-single{

    .flickity-button {
        display: none;
    }

    .flickity-page-dots {
        visibility: visible;
        @include desktop {
            visibility: hidden;
        }
    }

    .flickity-page-dots .dot {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: transparent;
        border: 1px solid $color__green;
    }

    .flickity-page-dots .dot.is-selected {
        background: $color__green;
      }
    
    .carousel-container {
        padding-top: 8rem;
        @include desktop {
            display: flex;
        }
    }

    .double-carousel {
    margin-bottom: 40px;
    flex-grow: 1;
    width: 100%;
    

    }

    .carousel-cell {
        height: 300px;
        width: 100%;
        @include desktop {
            width: 100%;
            height: 600px;
            margin-right: 10px;
        }
    }

    .double-carousel .carousel-cell img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        min-height: 300px;
        min-width: 400px;
        @include desktop {
            width: 100%;
            height: 100%;
        }
    }

    .carousel-nav {
    display: none;
    height: 100%;
    width: 120px;
    margin-left: 20px;
    max-height: 600px;
    overflow-y: scroll;
    @include desktop {
        display: block;
    }
    }

    .carousel-nav .carousel-cell {
    height: 100px;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    }

    .carousel-nav .carousel-cell img {
        height: auto;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);       
        min-height: 100px;

    }


    .carousel-nav .carousel-cell.is-nav-selected {
    background: rgb(247, 247, 245);
    }

    .tags-links {
        a::before {
            content: "#"
        }
    }

    .tags-links a {
        color: black;
        border: 1px solid $color__blue;
        border-radius: 20px;
        padding: 2px 20px;
        text-align: center;
        }

    .creat-events-button {
        background-color: $color__yellow;
        border-radius: 25px;
        border: none;
        color: white;
        box-shadow: none;
        padding: 1rem 3rem;
        font-size: 1.5rem;
        text-shadow: none;
        
    }

    .creat-event-button {
        text-align: center;
    }

    .site-content {
        padding: 2%;
    }

    .entry-title {
        font-size: $font-size__h1;
        font-family: $font-family__h1;
        text-align: center;
    }

    .activity-location {
        text-align: center;
        font-family: $font-family__body;
        font-size: $font-size__body;
    }

    // .description {
    //     font-size: $font-size__h2;
    //     font-family: $font-family__h2;
    // }

    .description-paragraph {
        font-family: $font-family__body2;
        font-size: $font-size__body2;
        position: relative;
    }

    iframe {
        border: 1.5px solid $color__green !important;
        margin-top: 2rem;
    }

    .flex-container {
        @include desktop {
            display: flex;
        }
    }


   
}


