.single-person .site-content, .single-press-item .site-content{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.single-person, .single-press-item .press-item{
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
    
    section, .image-wrapper, .text-wrapper {

        width: 100%;
        padding: 4%;
        @include tablet{
            width: 50%;
        }
    }
    .person-profile-picture, .image-wrapper{
        display: flex;
        justify-content: center;
        @include tablet{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
    }
    .entry-header, .entry-title{
        text-align: center;
    }
    .entry-content{
        text-align: center;
    }
    p{
        line-height: 2.0;
    }
    // .image-wrapper{
    //     display: flex
    // }
}