// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

//Colors for the theme
$color__blue:#40B2C4;
$color__blue__menu__background:#B4E1E8;
$color__green:#72CB7E;
$color__yellow: #F9D169;
$color__black: #000;
$color__darkgreen: #9c6;


$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__greyborder: #aaa;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Mobile font sizes
$font-size__base-size:  12px;
$font-size__body: 1.0rem;
$font-size__body2: 0.833rem;
$font-size__menu: 1.16rem;
$font-size__button: 1.67rem;
$font-size__h1: 1.5rem;
$font-size__h2: 1.5rem;
$font-size__h3: 1.5rem;

// Media Query - tablet and desktop breakpoints

$tablet-width: 620px;
$desktop-width: 1080px;




